<div>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>face</mat-icon>
    Click me!
  </button>

  <!-- <mat-checkbox>Check me!</mat-checkbox> -->

  <!-- <swiper
        [slidesPerView]="2"
        [spaceBetween]="50"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()"
        [navigation]="true"
        [pagination]="{ clickable: true }"
      >
        <ng-template swiperSlide>Slide 1</ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
        <ng-template swiperSlide>Slide 1</ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
  </swiper> -->
</div>

