<mat-sidenav-container class="app-sidenav-container" (backdropClick)="close('backdrop')">
  <mat-sidenav [opened]="!isScreenSmall" #sidenav [mode]="isScreenSmall ? 'over' : 'side' "
    class="app-sidenav mat-elevation-z10" (keydown.escape)="close('escape')">
    <mat-toolbar color="primary">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-tool-bar></app-tool-bar>
    <router-outlet></router-outlet>
    <button type="button" mat-button (click)="sidenav.open()">
      Open Side nav
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
